@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor {
    background-color: #FFFF;
    position: relative;
    width: 600px;
    margin-top: 15%;
}

.email {
    width: 500px;
    height: 40px;
    border-radius: 10px;
}