<app-nav></app-nav>

<section class="bg-img1 text-center ps-5 pb-5" style="background-image: url(../../../assets/images/artes3.jpg);">
    <h2 class="text-center pt-5" id="nosotros">
        Nosotros
    </h2>
</section>

<section class="bg0 pt-5 pb-5">
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-7 col-lg-8">
                <div class="pt-5 px-5">
                    <h3 class="pb-5" style="color: #333;">
                        Nuestra historia
                    </h3>

                    <p class=" pb-2">
                        Había una vez un grupo de mujeres valientes que se encontraban tras las rejas. Muchas de ellas habían cometido errores en el pasado y se habían visto obligadas a pagar por sus acciones en la cárcel. A pesar de las dificultades que enfrentaban, estas mujeres nunca perdieron la esperanza de un futuro mejor.
                    </p>

                    <p class=" pb-1">
                        Un día, una organización sin fines de lucro llamada "Jailer Shop" visitó la cárcel para hablarles a las mujeres sobre la posibilidad de ganar dinero. Les contaron historias de mujeres como ellas que habían sido capaces de salir adelante y construir un futuro mejor para ellas y sus familias.
                    </p>

                    <p class=" pb-1">
                        Las mujeres se emocionaron al escuchar estas historias y comenzaron a soñar con un futuro en el que pudieran ser independientes y ayudar a sus familias. Sin embargo, no sabían por dónde empezar.
                        La organización les brindó la herramienta para ayudarlas a comenzar a vender sus productos. Les enseñaron cómo obtener financiamiento y cómo gestionar un negocio.
                    </p>

                    <p class=" pb-1">
                        Las mujeres trabajaron duro y aprendieron mucho. Con el apoyo de la organización, lanzaron sus propios productos desde la cárcel, con la creación de joyas hasta la producción de artesanías
                    </p>

                    <p class=" pb-1">
                        La comunidad de la cárcel se sorprendió y admiró el trabajo de estas mujeres. Sus productos eran de alta calidad y la gente estaba dispuesta a pagar precios justos por ellos.

                        Con el tiempo, las mujeres comenzaron a obtener ganancias y a ahorrar dinero. Estaban orgullosas de lo que habían logrado y se dieron cuenta de que eran capaces de lograr cualquier cosa que se propusieran.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 mx-auto pt-5">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="../../../assets/images/nosotros 1.jpeg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 pb-3">
                <div class="pt-5 ps-5 ">
                    <h3 class="pb-5">
                        Nuestra mision
                    </h3>

                    <p class=" pb-5" id="pMision">
                        "Nuestra misión es ofrecer una plataforma para que las reclusas del Centro Penitenciario El Buen Pastor puedan mostrar su creatividad y habilidades artesanales al mundo, a través de la venta de sus productos en nuestra tienda virtual. Creemos que al apoyar a estas mujeres en su rehabilitación, estamos contribuyendo a su reintegración en la sociedad y fomentando su autoestima. Además, nos comprometemos a ofrecer productos únicos y de alta calidad que reflejen la pasión y el trabajo duro de las artesanas detrás de ellos."
                    </p>

                    <div class="bor16 pe-4 pb-5 mt-4">
                        <p class="ps-4 pb-1" style=" font-family: Poppins-Italic; font-size: 15px; line-height: 1.666667;">
                            La creatividad es simplemente conectar cosas. Cuando le preguntas a las personas creativas cómo hicieron algo, se sienten un poco culpables porque en realidad no lo hicieron, solo vieron algo. Les pareció obvio después de un rato.
                        </p>

                        <span class="ps-4" style="font-family: Poppins-Regular; font-size: 13px; line-height: 1.6923; color: #555;">
                            - Steve Job’s 
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 mx-auto pb-3">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="../../../assets/images/nosotros 2.jpeg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	

<app-footer></app-footer>
