.producto:hover{
    transform: translateY(-7px);
}

.card:hover{
    box-shadow: -1px -1px 26px -4px rgba(0,0,0,0.60);
-webkit-box-shadow: -1px -1px 26px -4px rgba(0,0,0,0.60);
-moz-box-shadow: -1px -1px 26px -4px rgba(0,0,0,0.60);
}


@media (max-width:991px) {
    #modal1, #descripcion{
        display: flex;
        flex-direction: column;
        width: 200%;
    }
    
}
