<app-nav-admi></app-nav-admi>

<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p style="color: #7e8d9f;font-size: 20px;">Factura >> <strong #nf [(ngModel)]="nFactura" >ID: #{{nFactura}}</strong></p>
        </div>
        <div class="col-xl-3 float-end">
          <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
              class="far fa-file-pdf text-danger"></i> Export</a>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            
            <p class="pt-0">JAILER SHOP</p>
          </div>

        </div>


        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">Proveedor: <input list="colores" name="colores" type="text" placeholder="Ingrese nombre " (change)="id_proveedor($event)">
                <datalist id="colores">
                  <option *ngFor="let item of proveedores ">{{item.nombre_proveedor}}</option>
                </datalist>
              </li>
              <li class="text-muted mt-2">Añadir producto: <input list="productos" name="producto" type="text" placeholder="Ingrese producto" (change)="productosF($event)">
                <datalist id="productos" >
                    <option *ngFor="let item of productos " value="{{item.nombre_producto}}"></option>
                </datalist>
                <button type="button" class="btn btn-primary text-capitalize " style="background-color:#177987 ; margin-left: 2px;" (click)="agregarFila()">Añadir</button>
              </li>
              <li class="text-muted" ><span #nf [(ngModel)]="proveedor[0].cedula">Cedula: <span>{{proveedor[0].cedula}} </span> </span></li>
              <li class="text-muted">Armenia, Quindio</li>
              <li class="text-muted"><i class="fas fa-phone"></i> 123-456-789</li>
            </ul>
          </div>
          <div class="col-xl-4">
            <p class="text-muted">Factura</p>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" style="color:#177987 ;"></i> <span
                  class="fw-bold" #nf [(ngModel)]="nFactura">ID:</span>#{{nFactura}}</li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#177987 ;"></i> <span
                  class="fw-bold">Fecha factura: </span>{{fecha | date}}</li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#177987 ;"></i> <span
                  class="me-1 fw-bold">Patio:</span><span class="badge bg-warning text-black fw-bold" [(ngModel)]="proveedor[0].ubicacion_p">
                    {{proveedor[0].ubicacion_p}}</span></li>
            </ul>
          </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#177987 ;" class="text-white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo producto</th>
                <th scope="col">Nombre producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of datosTabla">
                <td>{{fila.columna1}}</td>
                <td>{{fila.columna2}}</td>
                <td>{{fila.columna3}}</td>
                <td>{{fila.columna4}}</td>
                <td>{{fila.columna5}}</td>
                <td>{{fila.columna6}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        <div class="row">
          <hr>
          <div class="col-xl-8">
              <div class="col-12 mt-3">
                <h4>Condiciones y formas de pago</h4>
                <p>El pago se debe realizar en un plazo de 15 dias.</p>
                <p>
                  Banco Banreserva
                  <br/>
                  <span>CUENTA: <span [(ngModel)]="proveedor[0].cuenta_bancaria">{{proveedor[0].cuenta_bancaria }}</span> </span> 
                  <br/>
                  Código SWIFT: BPDODOSXXXX
                </p>
            </div>
          </div>
          <div class="col-xl-3">
            <p class="text-black float-start"><span class="text-black me-3"> Total factura:</span><span
                style="font-size: 25px;">$ {{total}}</span></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xl-10">
            <p>Gracias por confiar en nosotros</p>
          </div>
          <div class="col-xl-2">
            <button type="submit" class="btn btn-primary text-capitalize"
              style="background-color:#177987 ;" (click)="enviar()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>




