
<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #123-123</strong></p>
        </div>
        <div class="col-xl-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
              class="fas fa-print text-primary"></i> Print</a>
          <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
              class="far fa-file-pdf text-danger"></i> Export</a>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
            <p class="pt-0">MDBootstrap.com</p>
          </div>

        </div>


        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">To: <span style="color:#5d9fc5 ;">John Lorem</span></li>
              <li class="text-muted">Street, City</li>
              <li class="text-muted">State, Country</li>
              <li class="text-muted"><i class="fas fa-phone"></i> 123-456-789</li>
            </ul>
          </div>
          <div class="col-xl-4">
            <p class="text-muted">Invoice</p>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">ID:</span>#123-456</li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">Creation Date: </span>Jun 23,2021</li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                  Unpaid</span></li>
            </ul>
          </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#84B0CA ;" class="text-white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Qty</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Pro Package</td>
                <td>4</td>
                <td>$200</td>
                <td>$800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Web hosting</td>
                <td>1</td>
                <td>$10</td>
                <td>$10</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Consulting</td>
                <td>1 year</td>
                <td>$300</td>
                <td>$300</td>
              </tr>
            </tbody>

          </table>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <p class="ms-3">Add additional notes and payment information</p>

          </div>
          <div class="col-xl-3">
            <ul class="list-unstyled">
              <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>$1110</li>
              <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(15%)</span>$111</li>
            </ul>
            <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                style="font-size: 25px;">$1221</span></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xl-10">
            <p>Thank you for your purchase</p>
          </div>
          <div class="col-xl-2">
            <button type="button" class="btn btn-primary text-capitalize"
              style="background-color:#60bdf3 ;">Pay Now</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<!--<div class="margen">
  <div class="wrap">

  </div>
  
  <div id="app" class="col-11">
  
      <h2>Factura</h2>
  
      <div class="row my-3">
        <div class="col-10">
          <h1>Mil Pasos</h1>
          <p>Av. Winston Churchill</p>
          <p>Plaza Orleans 3er. nivel</p>
          <p>local 312</p>
        </div>
        <div class="col-2">
          <img src="#" />
        </div>
      </div>
    
      <hr />
    
      <div class="row fact-info mt-3">
        <div class="col-3">
          <h5>Facturar a</h5>
          <input list="colores" name="colores" type="text" placeholder="Elige un color" (change)="id_proveedor($event)">
          <datalist id="colores">
              <option *ngFor="let item of proveedores ">{{item.nombre_proveedor}}</option>
          </datalist>
          
        </div>
        <div class="col-3">
          <h5 for="cedula">Cedula</h5>
          <p><input type="text" #nf [(ngModel)]="proveedor[0].cedula" style="visibility:hidden">{{proveedor[0].cedula}}</p>
        </div>
        <div class="col-3">
          <h5 for="nf">N° de factura</h5>
          <h5>Fecha</h5>
          <h5>N° de Patio</h5>
        </div>
        <div class="col-3">
          <p><input type="text" #nf [(ngModel)]="nFactura" style="visibility:hidden">{{nFactura}}</p> 
          <p><input type="text" style="visibility:hidden">{{fecha | date}}</p>
          <p><input type="text"  [(ngModel)]="proveedor[0].ubicacion_p" style="visibility:hidden">{{proveedor[0].ubicacion_p}}</p> 
        </div>
      </div>

                <input list="productos" name="productos" type="text" (change)="productosF($event)">
                <datalist id="productos">
                    <option *ngFor="let item of productos ">{{item.nombre_producto}}</option>
                </datalist>
                <button (click)="agregarFila()">añadir producto</button>
    
      <div class="row my-5">
        <table class="table table-borderless factura">
          <thead>
            <tr>
              <th>No</th>
              <th>codigo Producto</th>
              <th>nombre</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of datosTabla">
              <td>{{fila.columna1}}</td>
              <td>{{fila.columna2}}</td>
              <td>{{fila.columna3}}</td>
              <td>{{fila.columna4}}</td>
              <td>{{fila.columna5}}</td>
              <td>{{fila.columna6}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Total Factura</th>
              <th>${{total}}</th>
            </tr>
          </tfoot>
        </table>
      </div>

      
    
      <div class="cond row">
        <div class="col-12 mt-3">
          <h4>Condiciones y formas de pago</h4>
          <p>El pago se debe realizar en un plazo de 15 dias.</p>
          <p>
            Banco Banreserva
            <br/>
            IBAN: DO XX 0075 XXXX XX XX XXXX XXXX
            <br/>
            Código SWIFT: BPDODOSXXXX
          </p>
        </div>
      </div>
  </div>
</div>

<button type="submit" (click)="enviar()">guardar</button>-->
