@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
    display: grid;
    text-align: center;
}

.titulo {
    font-family: 'Oswald', sans-serif;
}

th {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

td {
    font-family: sans-serif;
    font-size: 15px;
}

.container {
    margin-top: 30px;
    position: relative;
}

.vaciar {
    background-color: #dc3545;
}

.comprar {
    margin-top: 40px;
}

.uno2 {
    text-align: center;
}

.table {
    text-align: center;
    border-collapse: separate;
    width: 100%;
}



.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imga {
    width: 50%;
    height: 50px;
    object-fit: cover;
}

main{
    min-height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}