<div *ngIf="usuario == 0; else login ">
    <app-nav> </app-nav>
</div>

<ng-template #login>
    <app-nav-admi></app-nav-admi>
</ng-template>

<app-carrusel></app-carrusel>





<div class="products--grip " style="display: flex; flex-wrap:wrap; justify-content: center; margin-left: 10%; margin-right: 10%;">
    <app-producto 
      *ngFor="let productos of productos" 
      [producto]="productos" 
      [produc]="produc" 
      (addedProduct)="onAddToShoppingCart($event)"
      (detalleProduct)="detalleProducto($event)">
    </app-producto>
</div>


    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  

<app-footer></app-footer>