<div *ngIf="usuario == 0; else login ">
    <app-nav> </app-nav>
</div>

<ng-template #login>
    <app-nav-admi></app-nav-admi>
</ng-template>

<app-carrusel></app-carrusel>

<div class="products--grip " style="display: flex; flex-wrap:wrap; justify-content: center; margin-left: 10%; margin-right: 10%;">
    <app-producto 
        [producto]="productos" 
        [produc]="produc" 
        *ngFor="let productos of productos" 
        (addedProduct)="onAddToShoppingCart($event)"
        (detalleProduct)="detalleProducto($event)">
    </app-producto>
</div>

<app-footer></app-footer>