<div *ngIf="usuario == 0; else login ">
    <app-nav> </app-nav>
</div>

<ng-template #login>
    <app-nav-admi></app-nav-admi>
</ng-template>

<app-carrusel></app-carrusel>


<div class="d-flex justify-content-center" id="titulo">
    <h1 class=" pt-5" style="font-family: 'Playfair Display', serif;">Nuestros <span style="color: #177987; "> productos</span>
    </h1>
</div>


<div class="products--grip " style="display: flex; flex-wrap:wrap; justify-content: center; margin-left: 10%; margin-right: 10%;">
    <app-producto 
      *ngFor="let productos of productos" 
      [producto]="productos" 
      [produc]="produc" 
      (addedProduct)="onAddToShoppingCart($event)"
      (detalleProduct)="detalleProducto($event)">
    </app-producto>
</div>


   
  

<app-footer></app-footer>