<app-nav-admi></app-nav-admi>
<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #7e8d9f;font-size: 20px;">Factura >> <strong>ID: #{{proveedor[0].id_compra}}</strong></p>
                </div>
                <div class="col-xl-3 float-end">
                    <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
              class="far fa-file-pdf text-danger"></i> Export</a>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">

                        <p class="pt-0">JAILER SHOP</p>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted">Proveedor: {{proveedor[0].nombre_proveedor}}</li>
                            <li class="text-muted"><span>Cedula: <span>{{proveedor[0].cedula}} </span> </span>
                            </li>
                            <li class="text-muted">Armenia, Quindio</li>
                            <li class="text-muted"><i class="fas fa-phone"></i> 123-456-789</li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">Factura</p>
                        <ul class="list-unstyled">
                            <li class="text-muted"><i class="fas fa-circle" style="color:#177987 ;"></i> <span class="fw-bold">ID:</span>#{{proveedor[0].id_compra}}</li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#177987 ;"></i> <span class="fw-bold">Fecha factura: </span>{{proveedor[0].fecha}}</li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#177987 ;"></i> <span class="me-1 fw-bold">Patio:</span><span class="badge bg-warning text-black fw-bold">
                    {{proveedor[0].ubicacion_p}}</span></li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#177987 ;" class="text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Codigo producto</th>
                                <th scope="col">Nombre producto</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio unitario</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let factura of productos; index as i;">
                                <td>{{i+1}}</td>
                                <td>{{factura.id_producto}}</td>
                                <td>{{factura.nombre_producto}}</td>
                                <td>{{factura.cantidad}}</td>
                                <td>{{factura.costo}}</td>
                                <td>3</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <hr>
                    <div class="col-xl-8">
                        <div class="col-12 mt-3">
                            <h4>Condiciones y formas de pago</h4>
                            <p>El pago se debe realizar en un plazo de 15 dias.</p>
                            <p>
                                Banco Banreserva
                                <br/> IBAN: DO XX 0075 XXXX XX XX XXXX XXXX
                                <br/> Código SWIFT: BPDODOSXXXX
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <p class="text-black float-start"><span class="text-black me-3"> Total factura:</span><span style="font-size: 25px;">${{proveedor[0].valor}}</span></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p>Gracias por confiar en nosotros</p>
                    </div>
                    <div class="col-xl-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


















<!--<div class="margen">
    <div class="wrap">
  
    </div>
    
    <div class="col-11">
    
        <h2>Factura</h2>
    
        <div class="row my-3">
          <div class="col-10">
            <h1>Mil Pasos</h1>
            <p>Av. Winston Churchill</p>
            <p>Plaza Orleans 3er. nivel</p>
            <p>local 312</p>
          </div>
          <div class="col-2">
            <img src="#" />
          </div>
        </div>
      
        <hr />
      
        <div class="row fact-info mt-3">
          <div class="col-3">
            <h5>Facturar a</h5>
            <p>{{proveedor[0].nombre_proveedor}}</p>         
          </div>
          <div class="col-3">
            <h5 for="cedula">Cedula</h5>
            <p>{{proveedor[0].cedula}}</p>
          </div>
          <div class="col-3">
            <h5 for="nf">N° de factura</h5>
            <h5>Fecha</h5>
            <h5>N° de Patio</h5>
          </div>
          <div class="col-3">
            <p>{{proveedor[0].id_compra}}</p> 
            <p>{{proveedor[0].fecha}}</p>
            <p>{{proveedor[0].ubicacion_p}}</p> 
          </div>
        </div>
      
        <div class="row my-5">
          <table class="table table-borderless factura">
            <thead>
              <tr>
                <th>No</th>
                <th>codigo Producto</th>
                <th>nombre</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let factura of productos; index as i;">
                <td>{{i+1}}</td>
                <td>{{factura.id_producto}}</td>
                <td>{{factura.nombre_producto}}</td>
                <td>{{factura.cantidad}}</td>
                <td>{{factura.costo}}</td>
                <td>3</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total Factura</th>
                <th>${{proveedor[0].valor}}</th>
              </tr>
            </tfoot>
          </table>
        </div>
  
        
      
        <div class="cond row">
          <div class="col-12 mt-3">
            <h4>Condiciones y formas de pago</h4>
            <p>El pago se debe realizar en un plazo de 15 dias.</p>
            <p>
              Banco Banreserva
              <br/>
              IBAN: DO XX 0075 XXXX XX XX XXXX XXXX
              <br/>
              Código SWIFT: BPDODOSXXXX
            </p>
          </div>
        </div>
    </div>
  </div>-->