<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      
    />
    


<nav class="navbar navbar-expand-lg" style="background-color: #3B0C04;">
  <div class="container-fluid"> 
    <a class="navbar-brand text-light" href="#">
      <span class="navbar-text" id="contenedorPerfil">
        <li class="nav-item dropdown" style="list-style: none;">
            <img  class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="foto" src="https://i.ibb.co/94D9z5P/logo.jpg" alt="">
          
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/login']">Iniciar sesion</a></li>
            <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesion</a></li>
          </ul>
        </li>
      </span>
    </a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
              <a class="nav-link active text-light" [routerLink]="['/productos']">Inicio</a>
          </li>
        <li class="nav-item">
          <a [routerLink]="['/crear-producto']" routerLinkActive="active" class="nav-link active text-light" aria-current="page" [routerLink]="['/crear-producto']">Crear Producto</a>
        </li>
        <li class="nav-item dropdown">
          <a  routerLinkActive="router-link-active"  class="nav-link dropdown-toggle active text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administrar factura
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
            <table>
              <tr  >
                <td>
                  <i class="nav-link active text-dark"><a class="cambiarColor text-decoration-none pt-1 px-2" [routerLink]="['/facturaP']">Factura del proveedor</a></i>
                  <i class="nav-link active text-dark "><a class="cambiarColor text-decoration-none pt-1 px-2" [routerLink]="['/historial-factura']">Historial facturas proveedor</a></i>
                  <i class="nav-link active text-dark "><a class="cambiarColor text-decoration-none pt-1 px-2" [routerLink]="['/facturasC']">Historial facturas cliente</a></i>
                </td>
              </tr>
            </table>
          </ul>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/proveedor']" class="nav-link active text-light" aria-current="page">Crear Proveedor</a>
          </li>
        <li class="nav-item dropdown">
          <a  routerLinkActive="router-link-active"  class="nav-link dropdown-toggle active text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
              <tr *ngFor="let item of categoria" >
                <td>
                  <li class="nav-link active text-dark "  (click)="idCategoria(item.id_categoria)">
                    <a for="text" class="cambiarColor text-decoration-none pt-1 px-3" style="cursor: pointer;">{{item.nombre_categoria}}</a>
                  </li>
                </td>
              </tr>
          </ul>
        </li>
      </ul>
      
        <form class="form-inline my-2 my-lg-0">
          <input type="search" class="search-query border-end-0 border rounded-pill" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-light border-end-1 border rounded-pill ms-2" type="submit"><i class=" fa fa-search"></i></button>
        </form>

    </div>
    
  </div>
</nav>


