<app-nav-admi></app-nav-admi>

<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="p-3">Historial facturas proveedor</h2>
          </div>

        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#177987 ;" class="text-white">
              <tr>
                <th scope="col">#Factura</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Valor</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer;" *ngFor="let factura of facturas" (click)="mostrarFactura(factura.id_compra)">
                <th scope="row">{{factura.id_compra}}</th>
                <td>{{factura.nombre_proveedor}}</td>
                <td>{{factura.valor}}</td>
                <td>{{factura.fecha}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        
          

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>










<!--<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No-Factura</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Valor</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas" (click)="mostrarFactura(factura.id_compra)">
        <th scope="row">{{factura.id_compra}}</th>
        <td>{{factura.nombre_proveedor}}</td>
        <td>{{factura.valor}}</td>
        <td>{{factura.fecha}}</td>
      </tr>
    </tbody>
  </table>-->
